input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.check {
  display: block;
  position: relative;
  width: 63px;
  height: 33px;
  background: #092c3e;
  cursor: pointer;
  border-radius: 50px;
  overflow: hidden;
  transition: ease-in 0.6s;
}

input[type="checkbox"]:checked ~ .check {
  background-color: #fff;
  box-shadow: 0 0 0 1200px #092c3e;
}

.check:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #fff;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  transition: 0.6s;
}

input[type="checkbox"]:checked ~ .check:before {
  transform: translateX(-50px);
}

.check:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #092c3e;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  transition: 0.6s;
  transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check:after {
  transform: translateX(0px);
}
